
html, body{
	width   : 100%;
	margin  : 0;
	padding : 0;
}

body{
	/* background  : #10161d url('img/dot_grid.png'); */
	font-family : 'blender_prothin';
	font-size   : 12px;
	color       : #58bccc;
	line-height : 20px;
}

body{
	text-align : center;
	padding: 15px 15px 0 15px;
}

.graphs {
	height: 500px;
	width: 50%;
	margin-bottom: -15px;
	/* min-width: 300px; */
	
	/* overflow-y: scroll; */
}

.orientationGraph, .gyroscopeGraph, .accelerometerGraph {
	height: 120px;
	/* min-height: 100px; */
	width: 100%;
	
	margin: auto;
}

.emgGraph {
	height: 55px;
	/* min-height: 100px; */
	width: 100%;
}

.trainer {
	width: 50%;
	padding-right: 15px;
}

.video {
	background: black;
	height: 440px;
	
	margin: auto;
	margin-bottom: 10px;
}

#videoElement {
	/* transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    /* -moz-transform:rotateY(180deg); /* Firefox */
	
	height: 100%;
}

.graphs, .trainer {
	display: inline-block;
	float: left;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}