html, body{
	width   : 100%;
	margin  : 0;
	padding : 0;
}

body{
	font-size   : 12px;
	color       : #58bccc;
	line-height : 20px;
}

body{
	text-align : center;
	padding: 15px 15px 0 15px;
}

.graphs {
    margin-bottom: -15px;
    height: 500px;
    width: 50%;
}

.orientationGraph, .gyroscopeGraph, .accelerometerGraph {
    margin: auto;
	height: 120px;
	width: 100%;
}

.emgGraph {
    height: 55px;
    width: 100%;
}

.finalOrientationGraph, .finalGyroscopeGraph, .finalAccelerometerGraph {
    margin: auto;
    height: 120px;
	width: 500px;
}

.finalEmgGraph {
	margin-top: 10px;
    height: 55px;
    width: 250px;
}

.trainer {
    height: 440px;
}

.video, .signal {
    height: 100%;
}

.video {
	background: black;
    text-align: center;
}

#videoElement {
	/* transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
    /* -moz-transform:rotateY(180deg); /* Firefox */

    background-color: white;
	height: 100%;
}

.graphs {
	display: inline-block;
	float: left;
	
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}